{% extends 'Portfolio/layout.html' %}
{% load static %}
{% block content %}
<div class="content">
    <h2>MeByMe</h2>
    <div class="flex-container">
        <a href="{% static 'Portfolio/Bruno Ramos - CV (programmer).pdf' %}" type="application/pdf" target="_blank">
        <img src="{%static 'Portfolio/brunoFormal_bottomFade_NoBG.png'%}" width=500px >
        </a>
        <div class="flex-item">
            <h3>Sobre Mim</h3>
            <p>Sou Bruno, estudante de Ciência da Computação e Engenharia. Tenho paixão pelo mundo digital, criação de jogos, aplicações móveis e desktop, e cartoons. Desenho digitalmente como hobby e estou a aprofundar os meus conhecimentos em Java e outras tecnologias de programação.</p>
        </div>
        <div class="flex-item">
            <h3>Competências</h3>
            <ul>
                <li>Programação em Java</li>
                <li>Desenho Digital</li>
                <li>Desenvolvimento Web</li>
                <li>Criação de Jogos</li>
            </ul>
        </div>
        <div class="flex-item">
            <h3>Experiência</h3>
            <ul>
                <li>Projetos de Programação na Universidade</li>
                <li>Desenvolvimento de Websites Pessoais</li>
                <li>Participação em Hackathons</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
