{% extends 'bandas/layout.html' %}

{% block content %}
    <li>
        <a href="javascript:window.history.back();" style="display: block; text-align: center;">
            <h2>voltar</h2>
        </a>
    </li>
    <h1>Minha Música Favorita</h1>
    <div class="favorite-music-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/GG7fLOmlhYg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
{% endblock %}
