<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interesses PW</title>
    <style>
        body {
            background: purple;
            color: white;
        }
    </style>
</head>
<body>
    <header>
        <h1>Interesses relativo ao PW</h1>
        <nav>
          <a href="{% url 'pwsite:index' %}">INTRODUÇÃO</a>
          <a href="{% url 'pwsite:interesses' %}">INTERESSES</a>
          <a href="{% url 'pwsite:sobre' %}">SOBRE</a>
        </nav>
    </header>

    <main>

        <p>Gostava de começar a aprender a fazer layers dinamicos e mais modernos com o django</p>
    </main>

    <footer>
        <p>&copy; 2024 Programação Web, Universidade Lusófona - Todos os direitos reservados.</p>
    </footer>

</body>
</html>