{% extends 'festivais/layout.html' %}

{% block title %}Lista de Festivais{% endblock %}

{% block content %}
    <style>
        /* Estilos para a lista de festivais em grade */
        .festival-list {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Grade responsiva */
            grid-gap: 20px; /* Espaçamento entre os festivais */
            list-style: none;
            padding: 0;
            margin: 0;
        }

        .festival-item {
            border: 1px solid #ddd;
            border-radius: 10px;
            overflow: hidden;
            transition: transform 0.3s ease;
        }

        .festival-item:hover {
            transform: translateY(-5px);
        }

        .festival-item img {
            width: 100%;
            height: auto;
            display: block;
        }
    </style>

    <h2>Lista de Festivais</h2>
    <ul class="festival-list">
        {% for festival in festivais %}
            <li class="festival-item">
                <a href="{% url 'festivais:detalhes_festival' festival.id %}">
                    <img src="{{ festival.foto.url }}" alt="{{ festival.nome }}">
                    <h3>{{ festival.nome }}</h3>
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
