{% extends 'artigos/layout.html' %}

{% block content %}
    <div class="card mb-4">
        <div class="card-body">
            <h2 class="card-title">{{ artigo.titulo }}</h2>
            <p class="card-text">{{ artigo.conteudo }}</p>
            <p class="card-text"><strong>Categoria:</strong> {{ artigo.categoria }}</p>
            <p class="card-text"><strong>Autor:</strong> {{ artigo.autor }}</p>
            <p class="card-text"><strong>Data de Publicação:</strong> {{ artigo.data_publicacao }}</p>
            <a href="{% url 'artigos:lista_artigos' %}" class="btn btn-secondary">Voltar para a Lista de Artigos</a>
        </div>
    </div>
{% endblock %}
