{% load static %}
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artigos de Bruno</title>
    <link rel="stylesheet" href="{% static 'artigos/estilo.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>

<nav>
    <div>
        <a href="{% url 'artigos:lista_artigos' %}">Artigos</a>
        {% if user.is_authenticated %}
            <a href="{% url 'artigos:novo_artigo' %}">Novo Artigo</a>
            <a href="{% url 'authentication:logout_view' %}">Logout</a>
        {% else %}
            <a href="{% url 'authentication:login_view' %}">Login</a>
        {% endif %}
    </div>
</nav>

<div class="container">
    {% block content %}
    {% endblock %}
</div>

<script src="{% static 'js/main.js' %}"></script>
</body>
</html>
