{% extends 'artigos/layout.html' %}

{% block content %}
    <h1 class="mb-4">Lista de Artigos</h1>
    <div class="row">
        {% for artigo in artigos %}
            <div class="col-md-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">{{ artigo.titulo }}</h5>
                        <p class="card-text">{{ artigo.conteudo }}</p>
                        <a href="{% url 'artigos:detalhes_artigo' artigo.id %}" class="btn btn-primary">Ver Detalhes</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
